Pipfile
Pipfile.lock
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/frontend/build
/backend/images
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local
/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*