.image_upload {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-top: 1px solid lightgray;
}

.imageupload_button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.upload_modal {
    display: flex;
    flex-direction: column;
  }